@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
    --gray-color: #dfe1e5;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 16px;
}

body,
main {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

main {
    flex: 1;
}

* {
    user-select: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    color: red;
    padding: 1rem;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
}

.header a:not(:last-of-type, .apps):hover {
    text-decoration: underline;
}

.header a:last-of-type {
    background-color: #78909C;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    color: white;
}

.header .apps {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
}

.header .apps:hover {
    background-color: #78909C;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: end;

}

.banner a {
    color: #827070;
    font-size: 1.4rem;
}

.banner a:hover {
    color: #393434;
}

.banner img {
    height: 150px
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

@media screen and (max-width:786px) {

    .search-container,
    .banner {
        padding: 0 1rem;
    }
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--gray-color);
    border-radius: 1.5rem;
    max-width: 42rem;
    min-height: 3rem;
    width: 100%;
    padding: 0 1rem;
}

.search>span {
    color: #9aa0a6
}

.search:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.search form {
    height: 80%;
    display: flex;
    align-items: center;
    flex: 1;
}

#q {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    outline: 0;
    border: 0;
}

.search button {
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.search button:not(:first-of-type) i {
    background: linear-gradient(120DEG, #4285F4, #34A853, #fbbc05, #ea4335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.buttons input[type='button'] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons input[type='button']:focus {
    border: 1px solid #4285f4;
    outline: none;
}


footer {
    background-color: #f2f2f2;
}

footer .footer-header {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

footer .footer-body .slogan {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

footer .footer-body .slogan a {
    text-decoration: none;
    color: #70757a;
}

footer .footer-body .slogan a:hover {
    text-decoration: underline;
}

footer .footer-body .slogan a img {
    height: 14px;
    margin-right: 6px;
}